streamlit
supabase
pandas
plotly
Pillow
bcrypt
folium
streamlit-folium
jinja2
openpyxl
streamlit-drawable-canvas
google-generativeai==0.8.3
opencv-python-headless
pytesseract
scikit-learn
qrcode[pil]
